.initials {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.patient-details {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

    .patient-details span {
        font-family: "Open Sans", sans-serif;
        margin-left: 10px;
        margin-bottom: 5px;
        font-size: 20px;
    }
a {
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
    margin: 15px;
}
.teeth {
    margin-top: 10px;
    margin-left: 4px;
}
.tooth-row {
    display: flex;
    justify-content: center;
}

.tooth-button {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
}

    .tooth-button.hovered {
        background-color: #e0e0e0;
    }

    /* Стили для зубов при клике */
    .tooth-button.clicked {
        background-color: #ff9900;
        color: white;
    }